{% extends 'base.html' %}

{% block title %}Welcome to Framely{% endblock %}

    <!-- Page Loader -->
    <!-- <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
     -->

{% block content %}

    <h1>Welcome to Framely 
        <span class="tm-text-primary">
        {% if request.user.is_authenticated %}
            {{user.username}}
        {% else %}
            Anonymous
        {% endif %}
        </span>
    </h1>

    <a href="{% url 'create-photo' %}" class="btn btn-primary tm-btn">Add Photo</a>

    <div class="container-fluid tm-container-content tm-mt-60">

        {% include "photo_list_component.html" %}
    </div>


{% endblock %}
